@import 'src/styles.scss';

.footer {
    width: 100%;
    background-color: $cor-principal;
    color: #FFFFFF;
    padding: 10px;
    transition: display 0.3s;
    position: absolute;
    bottom: 0;
    justify-content: center;
}

.footer span {
    font-size: 12px;
}

.show-footer {
    position: static;
    display: flex !important;
}
