@import 'src/styles.scss';

h1,
h2 {
  color: $cor-principal;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

.card-input-currency {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  @media (min-width: 768px) {
    padding: 40px;

    .mat-form-field {
      width: 100%;
      max-width: 400px;
    }

    .form {
      font-size: 18px;
    }

    .btn-card-input-currency {
      height: 70px;
      font-size: 20px;
      margin: 15px;
      width: 100%;
      max-width: 400px;
    }
  }

  .mat-form-field {
    width: 400px;
  }
}

.btn-card-input-currency {
  height: 48px;
  border-radius: 100px;
  background-color: $cor-principal;
  color: #FFFFFF;
  border-color: $cor-principal;
  margin-top: 10px;
  width: 400px;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.card-rate-now {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 500px;
    margin: 0 auto;

    mat-card {
      width: 500px;
      padding: 20px;

      .rate-now-infos {
        flex-direction: row;

        .coins {
          margin-left: 20px;
        }
      }

      .view-last-month {
        flex-direction: row;

        span {
          margin-right: 10px;
        }
      }
    }
  }
}

.mat-form-card-rate-now {
  width: 500px;
  padding: 20px;
}

.rate-now-infos {
  display: flex;
  justify-content: space-between;
}

.current-rate {
  text-align: center;
  font-size: 32px;
  font-weight: bold !important;
}

.view-last-month {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: $cor-principal;
}

span {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}

#date {
  color: $cor-principal;
}

.values-infos,
.diff {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.card-last-month {
  align-items: center;
  width: 500px;
  margin: 0 auto;
}

.mat-card-last-month {
  width: 500px;
  padding: 20px;
}

.mat-icon {
  margin-left: 5px;
}

.negative-diff {
  display: flex;
  align-items: center;
  color: #FF0000;
}

.positive-diff {
  display: flex;
  align-items: center;
  color: #008000;
}